services:
  scanner-multi:
    build:
      context: .
    volumes:
      - ./juice-shop:/src/juice-shop
      - ./results:/results
    # Run the new multi-scan script
    command: bash /src/scripts/run.sh
    working_dir: /src